
.Home{
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h1{
  padding-bottom: 100px;
}
h5{
  color: #6ECCAF;
  padding-left: 60px;
}


ul{
  list-style: none;
}
.head{
  background-color:#ffffffe6; ;
  width: 50%;
  margin: auto;
  margin-top: 100px;
  
}

.itemsnav{
  display: inline;
  margin-right: 15px;
  padding: 20px;
  border-radius: 10px;
  color: #6ECCAF;
  text-decoration: none; /* no se porque esto no funciona*/
  
  
 
}
.itemsnav:hover{
  color: #223142;
  background-color: #6ECCAF;
}
button{
  color: white;
  background-color:red;
  height: 60px;
  margin: 15px;
  border-radius: 10px;
 background-color: #344D67;
  color: #6ECCAF;
  
}
.navegation{
  background-color: #344D67;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
}

.section-filters{ 
  display: flex;
   padding: 30px;
  justify-content: space-between;
}
.filtros{
  background-color: #344D67;
  color: #6ECCAF;
  border-radius: 10px;
  padding: 20px;
  height: 20px;
  padding-bottom: 40px;
  
  
}
.tarjeta{
display: flex;
background-color: #223142;
margin-bottom: 30px;
margin-right: 30px;
margin-left: 30px;
}
.tarjetainicial{
  margin: 0.5rem;
background-color: #223142;
width: 320px;
display: flex;
flex-direction: column;
align-items: center;
padding: 10px;

}
.titulo-tarjeta{
  color: whitesmoke;
}
.boton-tarjeta{
  background-color:#6ECCAF  ;
  border: 0px;
  border-radius: 10px;
  height: 40px;
 align-self: flex-end;
 color: black;
}
.supertarjeta{
  display: flex;
  flex-direction: row;

 
 
}
.tarjetosky{
  display: flex;
width: 500px;
flex-direction: column;
align-items: center;
}
.listatarjetosky{
  padding: 15px;
  color: aliceblue;
  font-size: larger;
  list-style: none;
 
}
.listatarjetosky:hover{
  background-color: #6ECCAF;
  color: #223142;
}
.boton-tarjetosky{
  align-self: end;
  margin-right: 35px;
  height: 40px;
  width: 40px;
  background-color: #6ECCAF;
  color:#223142;
  border: 0px;
}
.negrita{
 font-weight: 900;
}
#negrito{
  font-weight:900;
}

  

/*Contacto*/
.padre-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(92, 117, 146,0.9);
  width: 75%;
  height: 600px;
  justify-content: center;
  margin: auto;
  margin-top: 50px;
}
.mensaje{
  width: 700px;
}
.cosa{
  width: 350px;

}
.hcontact{
  padding-bottom: 50px;
  font-size: 50px;

}
.hleave{
  padding-bottom: 50px;
}

  .nye{
   display: flex;
   width: 700px;
   
  }
.boton-contacto{
  background-color: #344D67;
  width: 100px;
  height: 50px;
  border-radius: 10px;
  margin-top: 15px;
}


 


